<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <div class="container d-flex">
    <a class="navbar-brand" href="#">Website.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <a class="nav-link"  routerLink="/" routerLinkActive="active">Work</a>
          <a class="nav-link"  routerLink="/" routerLinkActive="active">Culture</a>
          <a class="nav-link"  routerLink="/blogs" routerLinkActive="active">Blog</a>
          <a class="nav-link"  routerLink="blogs/addblog" routerLinkActive="active">Add Blog</a>
          <a class="nav-link bg-dark text-white rounded-pill p-2"  routerLink="/" routerLinkActive="active">Get in touch</a>
      </ul>
    </div>
  </div>
</nav>
